<!DOCTYPE HTML>
<html>
  <head>
    <title>all in one</title>
  </head>
  <body>
    <h1>bilibili</h1>
     <iframe name='iframe4' marginwidth=0 marginheight=0 width=100% height='600' src="http://search.bilibili.com/all?keyword=<%= keyword %>" frameborder=0>
     	<%= keyword %>
     </iframe>
    <h1>weixin</h1>
     <iframe name='iframe4' marginwidth=0 marginheight=0 width=100% height='600' src="http://weixin.sogou.com/weixin?type=2&query=<%= keyword %>&ie=utf8&_sug_=n&sourceid=inttime_month" frameborder=0>
     	<%= keyword %>
     </iframe> 
    <h1>BiYing</h1>
     <iframe name='iframe4' marginwidth=0 marginheight=0 width=100% height='600' src="http://cn.bing.com/search?q=<%= keyword %>" frameborder=0>
     	<%= keyword %>
     </iframe>  
    <h1>ZHIHU</h1>
     <iframe name='iframe4' marginwidth=0 marginheight=0 width=100% height='600' src="http://zhihu.sogou.com/zhihu?ie=utf8&p=73351201&query=<%= keyword %>" frameborder=0>
     	<%= keyword %>
     </iframe> 
    <h1>1号店</h1>
     <iframe name='iframe4' marginwidth=0 marginheight=0 width=100% height='600' src="http://search.yhd.com/c0-0/k<%= keyword %>" frameborder=0>
     	<%= keyword %>
     </iframe>  
    <h1>果壳</h1>
     <iframe name='iframe4' marginwidth=0 marginheight=0 width=100% height='600' src="http://www.guokr.com/search/all/?wd=<%= keyword %>" frameborder=0>
     	<%= keyword %>
     </iframe>   
    <h1>丁香</h1>
     <iframe name='iframe4' marginwidth=0 marginheight=0 width=100% height='600' src="http://search.dxy.cn/?words=<%= keyword %>" frameborder=0>
        <%= keyword %>
     </iframe> 
    <h1>丁香</h1>
     <iframe name='iframe4' marginwidth=0 marginheight=0 width=100% height='600' src="http://search.tianya.cn/bbs?q=<%= keyword %>" frameborder=0>
        <%= keyword %>
     </iframe>  
  </body>
</html>